@import url("https://fonts.googleapis.com/css?family=Aclonica|Happy+Monkey|Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Muli");
@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate3d(0);
  }
  20% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
  }
  40% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 0.5, 3.142rad);
  }
  80% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: rotate3d(0);
            transform: rotate3d(0);
  }
  20% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
            transform: rotate3d(1, 1, 1, 90deg);
  }
  40% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
            transform: rotate3d(2, -1, -1, -0.2turn);
  }
  60% {
    -webkit-transform: rotate3d(0, 1, 0.5, 3.142rad);
            transform: rotate3d(0, 1, 0.5, 3.142rad);
  }
  80% {
    -webkit-transform: rotate3d(2, -1, -1, -0.2turn);
            transform: rotate3d(2, -1, -1, -0.2turn);
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 90deg);
            transform: rotate3d(1, 1, 1, 90deg);
  }
}

@-webkit-keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  outline: none !important;
  font-family: "Muli", sans-serif;
}

.heading {
  background-image: url("img/3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 450px;
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  top: 15px;
  left: 0;
  margin-left: 1%;
  color: white;
}

.title .shadowText {
  font-size: 7vw;
  line-height: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  text-shadow: -2px 0 #202327, 0 2px #202327, 2px 0 #202327, 0 -2px #202327;
}

.title .script {
  font-size: 26px;
}

.form-inline {
  position: absolute;
  right: 0;
  z-index: 999;
}

.div-input {
  position: relative;
  color: rgba(0, 0, 0, 0.67) !important;
  width: 160px;
  margin-right: 5px;
}

.div-input #searchCoin {
  width: 160px;
  font-weight: bold;
}

.div-input #searchCoin:focus {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
  border: none;
}

.div-input i.fa-search {
  z-index: 999;
  position: absolute;
  right: 0;
  margin: 9px 7% 0 0;
}

nav.navbar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0;
  height: 45px;
  background-color: rgba(32, 35, 39, 0.6);
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  border-top: 0.5px solid white;
}

nav.navbar .navbar-toggler-icon i {
  color: white;
  padding: 5px;
}

nav.navbar .nav-link {
  color: rgba(255, 255, 255, 0.699);
  cursor: pointer;
}

nav.navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 45px;
}

nav.navbar .nav-item .coin {
  margin: 7px;
  width: 30px;
  height: 30px;
  border-spacing: 0px;
}

nav.navbar .nav-item:hover a {
  color: white;
}

nav.navbar .nav-item:hover .coin {
  animation: mymove 5s infinite;
  -webkit-animation: mymove 5s infinite;
}

nav.navbar .active a {
  color: white;
  font-size: 28px;
  padding-top: 2px;
}

#searchBTN {
  color: rgba(255, 255, 255, 0.699);
  border: 1px solid rgba(255, 255, 255, 0.699);
  font-weight: bold;
  margin-right: 5px;
  font-size: 20px;
  height: calc(2.25rem + 2px);
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

#searchBTN:hover {
  background-color: #202327;
  color: white;
  border: 1px solid white;
}

.arrows {
  position: fixed;
  right: 7px;
  bottom: 7px;
  background-image: url("img/arrow-back.jpg");
  background-size: 100% 100%;
  width: 65px;
  height: 50px;
  font-size: 34px;
  color: white;
  text-align: center;
  border-radius: 0.3rem;
}

.arrows .bottom,
.arrows .top {
  display: inline;
}

.arrows i {
  padding-top: 7px;
  cursor: pointer;
}

.container-content {
  margin: 20px auto 20px auto;
  min-height: calc(100vh - 120px);
}

.container-content .allCoins {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

.bigger {
  border-radius: 1.25rem !important;
  -webkit-transition: all 2s;
  transition: all 2s;
  height: 320px !important;
  animation: none !important;
  -webkit-animation: none !important;
}

.bigger .toggleBTN {
  margin-top: 5px !important;
}

.coin-col {
  height: 180px;
  border-radius: 50%;
  -webkit-transition: all 2s;
  transition: all 2s;
  color: #202327;
  text-align: center;
  width: 190px;
  min-width: 190px !important;
  max-width: 190px;
  position: relative;
  background: url("img/back-card4.jpg") no-repeat center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 6px #000000, 0 0 4px 0.5px #000000;
          box-shadow: inset 0 0 6px #000000, 0 0 4px 0.5px #000000;
  border: 0.5px solid white;
}

.coin-col:hover {
  animation: bounce 1s;
  -webkit-animation: bounce 1s;
}

.card-design {
  height: 180px;
  border-radius: 50%;
  -webkit-transition: all 2s;
  transition: all 2s;
  color: #202327;
  text-align: center;
  width: 190px;
  min-width: 190px !important;
  max-width: 190px;
  position: absolute;
  background-color: rgba(248, 212, 74, 0.3);
  padding: 10px 15px 10px 15px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.card-body {
  padding: 0 0 1rem 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.card-body .card-title {
  font-weight: bold;
  margin: auto auto auto 0;
}

.card-body .second-title {
  font-size: 18px;
  height: 40px;
}

.card-body .img,
.card-body .info {
  -webkit-transition: height 2s;
  transition: height 2s;
}

.card-body .content {
  height: 90px;
  -webkit-transition: height 2s;
  transition: height 2s;
  width: 100%;
}

.card-body .content .card-img-top {
  height: 90px;
  width: 90px;
  border-radius: 50px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0.5px #000000;
          box-shadow: 0 0 4px 0.5px #000000;
  border: 0.5px solid white;
}

.card-body .info .content {
  padding-top: 5px;
}

.card-body .info .content i.sign {
  font-size: 13px;
}

.card-body .load {
  font-size: 20px;
  margin-top: 5px;
}

.card-body .load i {
  margin-right: 10px;
  font-size: 16px;
  height: 15px;
}

.infoBTN {
  margin-top: 8px;
  font-size: 0.95rem;
  border-radius: 34px;
  border: 1px solid #00000091;
  background-color: white;
  -webkit-box-shadow: inset 0 0 20px #000000;
          box-shadow: inset 0 0 20px #000000;
  color: #202327;
  padding: 6px;
  cursor: pointer;
}

.infoBTN:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.toggleBTN {
  width: 100%;
  margin-top: 23px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 25px;
  margin: auto 5px auto auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: inset 0 0 10px #000000 !important;
          box-shadow: inset 0 0 10px #000000 !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid #00000091 !important;
}

.slider.round:before {
  border-radius: 50%;
  border: 0.5px solid #00000091 !important;
}

footer {
  bottom: 0;
  height: 100px;
  background-image: url("img/333.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.modal-coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-coins .col {
  margin-bottom: 10px;
  text-align: center;
}

.modal-coins .switch {
  float: left;
}

.loadChart,
.loadCoins {
  -webkit-animation: fade 0.4s ease;
          animation: fade 0.4s ease;
  margin: auto;
  font-size: 28px;
  text-align: center;
  width: 100%;
  height: 70px;
}

.loadChart i,
.loadCoins i {
  margin-right: 10px;
}

.error, .errorMess {
  -webkit-animation: slide-up 0.4s ease;
          animation: slide-up 0.4s ease;
  margin: auto auto 10px auto;
  text-align: center;
  width: 400px;
  max-width: 100%;
  height: 150px;
  max-height: 170px;
  min-height: 150px;
  font-size: 28px;
}

.error i, .errorMess i {
  margin-right: 10px;
}

.errorMess {
  color: #202327;
  font-size: 16px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.errorMess i {
  color: #ffdc38;
  font-size: 22px;
}

.errorMess .errorTitle {
  font-size: 22px;
}

#chartContainer {
  -webkit-animation: slide-up 0.4s ease;
          animation: slide-up 0.4s ease;
  height: 300px;
  width: 70%;
  margin: auto;
}

.canvasjs-chart-credit {
  display: none;
}

.navbar-collapse.collapse.show {
  background-color: rgba(32, 35, 39, 0.7);
  z-index: 999;
}

.topics {
  list-style-type: none;
}

.topics li {
  margin-bottom: 5px;
}

.topics i {
  margin-right: 5px;
  font-size: 12px;
  cursor: pointer;
}

header.aboutTitle, .about .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.aboutTitle i, .about .subtitle i {
  font-size: 28px;
  text-align: center;
  padding: 10px;
}

.about {
  max-width: 450px;
}

.about .subtitle i {
  font-size: 20px;
}

#aboutProj .listDetails li {
  font-size: 14px;
}

#aboutDeveloper img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
/*# sourceMappingURL=style.css.map */